<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste des utilisateurs</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>
                <th>
                  Prenom
                </th>
                <th>
                  CIN
                </th>
                <th>
                  Adresse

                </th>
                <th class="text-right">
Action                </th>
              </thead>
              <tbody>
                <tr *ngFor="let us of users">
                  <td>{{us.nom}}                 </td>
                  <td>
                    {{us.prenom}}
                  </td>
                  <td>
                    {{us.cin}}
                  </td>
                  <td>
                   {{us.zone}}
                  </td>
                  <td class="text-right">
                    <a class="btn btn-danger" (click)="supprimer(us.id)">supprimer</a>
                  </td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
