<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Réclamation</h2>
    
  </div>
</div>
<div class="main-content">
  <div class="row">
  
    <div class="col-md-12">
      
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Réclamer un probléme</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-info">
            <span>Ajouter une réclamation</span>
          </div>
         <div>

          <form>
            <div class="mb-3">
              <label for="localite" class="form-label">Localité ou ville</label>
              <input type="text" name="locale" [(ngModel)]="reclamation.localisation" placeholder="choisissez un emplacement" class="form-control" id="localite" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="photo" class="form-label">Photo du cas</label>
              <input type="file" name="photo" [(ngModel)]="reclamation.photo"   (change)="onFileSelected($event)" class="form-control" id="localite" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">message</label>
              <textarea name="mdg" [(ngModel)]="reclamation.message" placeholder="votre message ici" type="text" class="form-control" id="message"></textarea>
            </div>
            <div class="mb-3">
              <label for="reclamation" class="form-label">Réclamer pour</label>
              <select name="type" name="type"  [(ngModel)]="reclamation.type" class="form-control"><option value="steg">STEG</option><option value="soned">SONED</option><option value="onas">ONAS</option></select>
            </div>
           
            <button type="submit" (click)="add()" class="btn btn-primary">Réclamer</button>
          </form>
         </div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Vos réclamations</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-primary">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
          
              <b> Réclamation- </b> Déclaré de votre part {{id}}
          </div>
          <div class="row">
           
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title"> Liste des Réclamations</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>
                        <th>
                          Date
                        </th>
                        <th>
                          Photo 
                        </th>
                        <th>
                          Localisation 
                        </th>
                        
                        <th>
                            Réclamé par
                        </th>
                  
                        <th >
                          <th>
                            Etat 
                          </th>
        Action                </th>
      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let re of reclamations">
                     
                          <td>{{re.date_heure |date: 'short'}}                 </td>
                          <td>
                         <img [src]="re.photo" width="150" height="150">
                          </td>
                          <td>
                            {{re.localisation}}
                          </td>
                          
                          <td>
                            {{re.user}}
                          </td>
                         
                          <td>
                            {{re.etat}}
                          </td>
                          <td >
                            <a class="btn btn-danger" (click)="supprimer(re.id)">supprimer</a>
                          </td>
                        </tr>
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        
        </div>
      </div>
    </div>
    
  </div>
