<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Réclamation</h2>
    
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Réclamer un probléme</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-info">
            <span>Ajouter une réclamation</span>
          </div>
         
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Vos réclamations</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-primary">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> Réclamation- </b> Déclaré de votre part</span>
          </div>
       
        
        </div>
      </div>
    </div>
    
  </div>
</div>
